.nav-bar {
	background-color: var(--nav-color);
	backdrop-filter: blur(3px);
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 10vh;
	padding: 0.5rem 15px;
	z-index: 20;
	box-sizing: border-box;
}

.logo-container {
	/* background-color: rgb(255, 255, 255); */
	height: 8vh;
	padding: 0 5px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.logo {
	border: none;
	height: 30px;
}

.cursor-pointer {
	cursor: pointer;
}

.nav-bar-button {
	position: relative;
	background: transparent;
  /* height: 8vh; */
	padding: 5px;
	margin-right: 5px;
	cursor: pointer;
	border: none;
	font-family: inherit;
	font-weight: bold;
	font-size: 1rem;
	color: var(--letters-color);
	transition: 0.2s ease-out;
}

.icon-favorito:hover {
	transition: 0.5s;
	fill: crimson !important;
}

.cart-number {
	position: absolute;
	z-index: 10;
	top: 1.2rem;
	left: 1.5rem;
	width: 15px;
	height: 15px;
	padding: 6px;
	color: #000;
	background-color: orangered;
	font-size: 0.9rem;
	text-align: center;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.theme-button {
	width: 40px;
}

.theme-button:hover {
	transform: scale(1.2);
}

.nav-bar-button img {
	width: 100%;
}

.nav-bar input[type="search"] {
	max-width: 30vw;
	min-width: 25vw;
	padding: 8px;
	margin-right: 5px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 3px 1px var(--nav-search-shadow-color);
	background-color: inherit;
	color: inherit;
	cursor: text;
	transition: 200ms ease-out;
}

.nav-bar input[type="search"]:focus {
	outline: none;
	box-shadow: none;
}

.nav-bar-search-button {
	padding: 8px;
	border: none;
	background: transparent;
	cursor: pointer;

	position: relative;
	top: 10px;
	left: -5px;
}

.nav-bar svg,
.nav-bar-search-button svg {
	width: unset;
	height: unset;
	fill: #888;
}

.nav-bar-button:hover {
	color: var(--nav-button-letter-hover-color);
  font-family: MornBold;
  font-weight: bold;
}

.categories-window {
	font-size: 12px;
	display: grid;
	grid-template-columns: repeat(6, minmax(10rem, 1fr));
	grid-auto-rows: 1.5rem;
	margin: auto;
	padding-top: 10px;
	padding-left: 20px;
	position: fixed;
	top: -100vh;
	left: 5%;
	background-color: var(--categories-background-color);
	backdrop-filter: blur(3px);
	z-index: 15;
	border-radius: 0 0px 10px 10px;
	transition: 0.5s ease-out;
}

.categories-window label {
	grid-column: span 6;
	font-size: 14px;
	font-family: MornBold;
  font-weight: bold;
	color: black;
}

.categories-window p {
	width: fit-content;
	text-transform: capitalize;
	cursor: pointer;
	transition: 0.1s ease-out;
}

.categories-window p:hover {
	transform: scale(1.2);
	color: var(--categories-letter-hover-color);
}

.move-down {
	animation: move-down 0.3s ease-out forwards;
}

@keyframes move-down {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(100vh);
	}
}

.move-up {
	animation: move-up 0.3s ease-out forwards;
}

@keyframes move-up {
	0% {
		transform: translateY(100vh);
	}

	100% {
		transform: translateY(0);
	}
}

.dissapear {
	transition: 0;
	animation: dissapear 0s forwards;
}

@keyframes dissapear {
	0% {
		transform: translateY(100vh);
	}

	100% {
		transform: translateY(0);
	}
}