.nav-bar {
  position: fixed;
  background-color: black;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 10px 20px;
  z-index: 20;
}

.nav-bar button,
.nav-bar input {
  padding: 5px;
  margin: 0 5px 5px 0;
}

.nav-bar input[type="search"] {
  cursor: text;
}