@font-face {
  font-family: "Morn";
  src: url("./assets/fonts/MornThin.otf");
}

@font-face {
  font-family: "MornBold";
  src: url("./assets/fonts/MornBold.ttf");
}

@font-face {
  font-family: "MornMedium";
  src: url("./assets/fonts/MornMedium.ttf");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  overflow-wrap: break-word;
  font-family: Morn, Arial, Helvetica, sans-serif;
  /* font-family: "Poppins", sans-serif; */
  /* font-weight: 500; */
  /* font-size: 1.15rem; */
  text-decoration: none;
  color: var(--letters-color);
}

#root {
	position: relative;
	min-height: 100vh;
	padding: 0 0 60vh 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
strong {
  font-family: MornBold, Arial, Helvetica, sans-serif;
}

p {
  font-family: MornMedium, Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

body {
  --background-color: rgb(255, 255, 255);
  background-color: var(--background-color);
  --letters-color: rgba(0, 0, 0, 0.75);

  --better-view-letter-color: rgb(0, 0, 0);

  --better-view-letter-color: rgb(0, 0, 0);

  --nav-color: rgba(255, 255, 255, 0.3);
  --nav-button-letter-hover-color: rgba(69, 69, 69, 0.7);
  --nav-search-shadow-color: rgb(99, 99, 99);

  --categories-background-color: rgba(255, 255, 255, 0.4);
  --categories-letter-hover-color: rgb(0, 0, 0);

  --product-arrow-background-hover-color: rgb(0, 0, 0, 0.3);

  --selected-list-background-color: rgba(255, 255, 255, 0.3);
  --selected-list-p-background-color: rgb(0, 0, 0);
  --selected-list-letter-color: rgb(255, 255, 255);
  --selected-list-letter-hover-color: rgb(255, 0, 0);

  --filter-scrollbar-background-color: rgb(255, 255, 255);
  --filter-scrollbar-thumb-color: rgb(0, 0, 0);

  --filter-border-color: rgb(0, 0, 0);

  --filter-button-background-color: rgb(255, 255, 255);
  --filter-button-letter-color: rgb(0, 0, 0);
  --filter-button-border-color: rgba(0, 0, 0, 0.3);
  --filter-button-background-hover-color: rgb(0, 0, 0);
  --filter-button-letter-hover-color: rgb(255, 255, 255);

  --filter-list-button-default-background-color: rgb(218, 218, 218);
  --filter-list-button-default-letter-color: rgb(0, 0, 0);
  --filter-list-button-default-hover-background-color: rgb(0, 0, 0);
  --filter-list-button-defaut-letter-hover-color: rgb(255, 255, 255);

  --filter-available-background-color: rgb(255, 255, 255);
  --filter-available-letter-color: rgb(0, 0, 0);
  --filter-available-border-color: rgba(130, 130, 130, 0.1);
  --filter-available-background-hover-color: rgb(0, 0, 0);
  --filter-available-letter-hover-color: rgb(255, 255, 255);

  --filter-selected-background-color: rgb(0, 0, 0);
  --filter-selected-letter-color: rgb(255, 255, 255);
  --filter-selected-background-hover-color: rgb(0, 0, 0);
  --filter-selected-letter-hover-color: rgb(255, 0, 0);

  --card-background-color: rgb(255, 255, 255);
  --card-shadow-hover-color: rgba(197, 197, 197, 0.7);

  --card-add-to-cart-button-color: rgb(0, 0, 0);
  --card-add-to-cart-letter-color: rgb(255, 255, 255);

  --colorBox-border-color: rgba(0, 0, 0, 0.3);

  --page-button-selected-background-color: rgb(0, 0, 0);
  --page-button-selected-letter-color: rgb(255, 255, 255);
  --page-button-background-hover-color: rgba(227, 227, 227, 0.7);

  --detail-add-to-cart-button-color: #007bff;
  --detail-buy-button-color: #28a745;
  --detail-add-to-cart-button-color: #007bff;

  --footer-background-color: #1f479c;
  --footer-letter-color: rgba(0, 0, 0, 0.7);
  --footer-letter-hover-color: rgb(0, 0, 0);
  --disabled-button-color: rgba(0, 0, 0, 0.2);

  --review-modal-overlay-background-color: rgba(255, 255, 255, 0.2);
  --review-modal-background-color: rgba(255, 255, 255, 0.3);

  --review-letter-color: rgb(0, 0, 0);

  --review-textarea-border-color: rgb(0, 0, 0);

  --review-stars-unselected-color: rgba(0, 0, 0, 0.5);

  --close-modal-button-fill-color: rgba(0, 0, 0, 0.7);
  --close-modal-button-hover-fill-color: rgb(0, 0, 0);

  --review-acceptance-card-background-color: rgba(240, 240, 240, 0.7);
}

body.dark {
  --background-color: rgba(0, 0, 0, 1);
  background-color: var(--background-color);
  --letters-color: rgba(255, 255, 255, 0.7);

  --better-view-letter-color: rgb(255, 255, 255);

  --nav-color: rgba(0, 0, 0, 0.3);
  --nav-button-letter-hover-color: rgba(255, 255, 255, 0.7);
  --nav-search-shadow-color: rgb(99, 99, 99);

  --categories-background-color: rgba(0, 0, 0, 0.4);
  --categories-letter-hover-color: rgb(255, 255, 255);

  --product-arrow-background-hover-color: rgb(0, 0, 0, 0.3);

  --selected-list-background-color: rgba(0, 0, 0, 0.3);
  --selected-list-p-background-color: rgb(255, 255, 255);
  --selected-list-letter-color: rgb(0, 0, 0);
  --selected-list-letter-hover-color: rgb(255, 0, 0);

  --filter-scrollbar-background-color: rgb(0, 0, 0);
  --filter-scrollbar-thumb-color: rgb(255, 255, 255);

  --filter-border-color: rgb(255, 255, 255);

  --filter-button-background-color: rgb(0, 0, 0);
  --filter-button-letter-color: rgb(255, 255, 255);
  --filter-button-border-color: rgba(255, 255, 255, 0.3);
  --filter-button-background-hover-color: rgb(255, 255, 255);
  --filter-button-letter-hover-color: rgb(0, 0, 0);

  --filter-list-button-default-background-color: rgb(100, 100, 100);
  --filter-list-button-default-letter-color: rgb(255, 255, 255);
  --filter-list-button-default-hover-background-color: rgb(255, 255, 255);
  --filter-list-button-defaut-letter-hover-color: rgb(0, 0, 0);

  --filter-available-background-color: rgb(40, 40, 40);
  --filter-available-letter-color: rgb(255, 255, 255);
  --filter-available-border-color: rgba(255, 255, 255, 0.1);
  --filter-available-background-hover-color: rgb(255, 255, 255);
  --filter-available-letter-hover-color: rgb(0, 0, 0);

  --filter-selected-background-color: rgb(255, 255, 255);
  --filter-selected-letter-color: rgb(0, 0, 0);
  --filter-selected-background-hover-color: rgb(255, 255, 255);
  --filter-selected-letter-hover-color: rgb(255, 0, 0);

  --card-background-color: rgb(60, 60, 60);
  --card-shadow-hover-color: rgba(197, 197, 197, 0.7);

  --card-add-to-cart-button-color: rgb(255, 255, 255);
  --card-add-to-cart-letter-color: rgb(0, 0, 0);

  --colorBox-border-color: rgba(255, 255, 255, 0.3);

  --page-button-selected-background-color: rgb(255, 255, 255);
  --page-button-selected-letter-color: rgb(0, 0, 0);
  --page-button-background-hover-color: rgb(75, 75, 75);

  --detail-add-to-cart-button-color: #007bff;
  --detail-buy-button-color: #28a745;
  --detail-add-to-cart-button-color: #007bff;

  --footer-background-color: rgb(30, 30, 30);
  --footer-letter-color: rgba(255, 255, 255, 0.7);
  --footer-letter-hover-color: rgb(255, 255, 255);

  --disabled-button-color: rgba(255, 255, 255, 0.2);

  --review-modal-overlay-background-color: rgba(0, 0, 0, 0.2);
  --review-modal-background-color: rgba(0, 0, 0, 0.3);
  --review-letter-color: rgb(255, 255, 255);

  --review-textarea-border-color: rgb(255, 255, 255);

  --review-stars-unselected-color: rgba(255, 255, 255, 0.5);

  --close-modal-button-fill-color: rgba(255, 255, 255, 0.7);
  --close-modal-button-hover-fill-color: rgb(0, 0, 0);

  --review-acceptance-card-background-color: rgba(50, 50, 50, 0.7);
}