.product-bar-title {
  width: 80%;
  margin: 1% auto 0 auto;
}

.products-bar-container {
  display: flex;
  width: 100%;
  overflow-x: auto;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  text-transform: capitalize;
}

.product-arrow-button {
  position: absolute;
  width: 30px;
  top: 35%;
  border-radius: 10px;
  border: none;
  padding-top: 5px;
  cursor: pointer;
  z-index: 5;
  background: transparent;
}

.product-arrow-button img {
  width: 100%;
}

.product-arrow-button:hover,
.product-arrow-button:focus-visible {
  background-color: rgb(0, 0, 0, 0.3);
}

.product-arrow-button:hover:disabled {
  background: transparent;
  cursor: default;
}