.pages-selector {
  width: 95vw;
  margin: 2% auto 2% auto;
}

.pages-selector button {
  font-family: neuropolitical;
  font-size: 10px;
  width: 3em;
  height: 15px;
  border-color: rgb(0, 0, 0);
  margin-right: 1px;
  padding: 0;
}

.pages-selector button:hover {
  transform: scale(1.2);
  color: var(--pages-hover-color);
  border-color: var(--pages-hover-color);
  outline-color: var(--pages-hover-color);
}

.selected-page {
  color: var(--pages-selected-color);
  border-color: var(--pages-selected-color);
  outline-color: var(--pages-selected-color);
}

.pages-selector button:active {
  transform: translate(3px 3px);
}