
.selected-list-reset-container {
  display: flex;
  align-content: space-between;
}

.selected-list {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 76%;
  top: 0;
  right: 0;
  margin: 8vh auto 5px 22%;
  padding: 10px;
  background-color: var(--selected-list-background-color);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.selected-list p {
  text-transform: capitalize;
  background-color: var(--selected-list-p-background-color);
  color: var(--selected-list-letter-color);
  min-width: fit-content;
  padding: 5px;
  margin: 5px;
  margin-left: 0;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
}


.selected-list p:hover {
  color: var(--selected-list-letter-hover-color);
}

.pages-selector {
  display: flex;
  justify-content: center;
  margin: 10vh auto;
}

.pages-selector button {
  font-size: 16px;
  width: fit-content;
  min-width: 30px;
  height: fit-content;
  padding: 5px;
  margin: 0 5px;
  border-radius: 10px;
  cursor: pointer;
  font-family: Morn, Arial, Helvetica, sans-serif;
  transition: 0.3s ease-out;
  color: inherit;
  background: transparent;
}

.page-button {
  border: none;
}

.page-button:hover {
  background-color: var(--page-button-background-hover-color);
  transform: scale(1.1);
}

.selected-page:disabled {
  cursor: default;
  background-color: var(--page-button-selected-background-color);
  color: var(--page-button-selected-letter-color);
}

.invisible {
  visibility: hidden;
}