
.selected-list-reset-container {
  display: flex;
  align-content: space-between;
}

.selected-list {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 76%;
  top: 0;
  right: 0;
  margin: 8vh auto 5px 22%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.selected-list p {
  text-transform: capitalize;
  background-color: black;
  color: white;
  min-width: fit-content;
  padding: 5px;
  margin: 5px;
  margin-left: 0;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
}


.selected-list p:hover {
  color: red;
}

.pages-selector {
  display: flex;
  justify-content: center;
  margin: 10vh auto;
}

.pages-selector button {
  font-size: 16px;
  width: fit-content;
  min-width: 30px;
  height: fit-content;
  padding: 5px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.page-button {
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid transparent;
}

.page-button:hover {
  background-color: rgba(227, 227, 227, 0.7);
}

.selected-page {
  color: black;
  border-color: rgb(91, 91, 91);
}

.selected-page:disabled {
  cursor: default;
}

.invisible {
  visibility: hidden;
}