.buttonComprar {
	height: unset !important;
	padding: 12px;
	margin: 0 auto;
	font-size: 1.2rem;
	font-weight: 700;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	margin-top: -10px;
	cursor: pointer;

	&:hover {
		transition: 0.5s;
		background-color: green;
	}
}

.disabled {
	opacity: 0.5;
	pointer-events: none;
}
