.detailContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.loading {
  text-align: center;
  padding: 20px;
}

.detailContainer h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.detailContainer p {
  margin-bottom: 10px;
}

.detailContainer img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.detailContainer ul {
  list-style-type: none;
  padding-left: 0;
}

.detailContainer li {
  margin-bottom: 5px;
}

.colorsList {
  display: flex;
}

.colorCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
  margin-bottom: 5px;
  cursor: pointer;
  border: 2px solid #333;
}

.selectedColor {
  transform: scale(1.2);
}

.selectedSize {
  font-weight: bold;
}

.sizeItem {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.selectedSize {
  background-color: #007bff;
  color: #fff;
}

.relatedProductsContainer {
  overflow-x: auto;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.relatedProducts {
  display: flex;
}

.relatedProduct {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.relatedProductImageLarge {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.relatedProductName {
  margin-top: 10px;
  font-size: 16px;
}

.relatedProductPrice {
  font-weight: bold;
  margin-top: 5px;
}

.productsRelacionados {
  margin-top: 10px;
}

.buttonsContainer {
  margin-top: 20px;
}

.addToCartButton,
.buyButton {
  padding: 10px 20px;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.addToCartButton {
  background-color: #007bff;
}

.buyButton {
  background-color: #28a745;
}

.buyButton:hover {
  background-color: #218838;
}

.notFound {
  max-width: 1200px;
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notFoundError,
.notFoundText {
  margin-top: 90px;
}

.notFoundError {
  font-size: 80px;
}

.notFoundText {
  font-size: 40px;
}

.addToCartButton[disabled],
.buyButton[disabled] {
  padding: 10px 20px;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  cursor: not-allowed;
  background-color: #ccc;
  opacity: 0.7;
}

.addToCartButton[disabled]:hover,
.buyButton[disabled]:hover {
  background-color: #ccc;
}

.redSquare {
  display: inline-block;
  padding: 3px;
  background-color: red;
  color: white;
  border-radius: 5px;
  font-size: 12px;
}

.precioOriginal {
  margin-top: 8px;
}

.precioDescuento {
  margin-top: 8px;
}
