.product-container {
  flex: 0 0 200px;
  height: 270px;
  margin-right: 5px;
  overflow: hidden;
  position: relative;
}

.product-container h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-image-container {
  height: 200px;
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product-add-to-cart-button {
  width: 100%;
  height: 30px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  transition: 200ms ease-out;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
}

.card-container:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 3px 3px rgba(197, 197, 197, 0.7);
}

.card-favorite-button {
  position: absolute;
  font-size: 20px;
  top: 0;
  right: 0;
  z-index: 15;
  background: transparent;
  border: none;
  display: none;
}

.card-container:hover button,
.product-container:hover button {
  display: inline;
}

.card-image-container {
  overflow: hidden;
  margin-bottom: -2%;
}

.card-image-container img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

.card-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
}

.card-info-container p {
  word-wrap: break-word;
}

.sizes {
  margin-right: 5px;
}

.colorBox {
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  font-size: 14px;
  border-radius: 50%;
  margin-right: 10px;
}

/* .card-container-horizontal {
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
  transition: 200ms ease-out;
}

.card-container-horizontal .card-image-container {
  width: 70%;
  overflow: hidden;
  position: relative;
  height: 200px;
}

.card-image-container {
  position: relative;
}

.card-image-container img {
  object-fit: cover;
  width: 100%;
  height: 500px;
  position: absolute;
  bottom: 0;
}

.card-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 30%;
  border: 1px solid red;
}

.card-info-container p {
  word-wrap: break-word;
}

.sizes {
  margin-right: 5px;
}

.colorBox {
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  font-size: 14px;
  border-radius: 50%;
  margin-right: 10px;
} */