.hero-images-bar-container {
  width: 80%;
  height: 80%;
  position: relative;
  display: flex;
  margin: 2% auto 0 auto;
}

.hero-images-container {
  width: 100%;
  height: 500px;
  display: flex;
  overflow: hidden;
}

.hero-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate 500ms ease-in-out;
}

.hero-image-button {
  box-sizing: border-box;
  position: absolute;
  height: fit-content;
  top: 47%;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
}

.hero-image-button:hover {
  background-color: rgba(164, 164, 164, 0.7);

}

.hero-image-dot-button {
  all: unset;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  transition: scale 100ms ease-in-out;
}

.hero-image-dot-button:hover,
.hero-image-dot-button:focus-visible {
  scale: 1.2;
}