.reviews-acceptance-filters {
  position: fixed;
  margin-top: 15vh;
  top: 0;
  width: 30%;
  padding: 10px;
  z-index: 5;
}

.reviews-acceptance-title-button-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 10px;
}

.reviews-acceptance-button {
  width: 150px;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--filter-button-background-color);
  color: var(--letters-color);
  border: 1px solid var(--filter-button-border-color);
  transition: 0.2s ease-out;
}

.review-acceptance-filter-row {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}

.reviews-acceptance-search-button {
  margin-top: 10px;
  height: 30px;
  background: transparent;
  border-radius: 10px;
  border: 1px solid var(--filter-button-border-color);
}

.reviews-acceptance-search-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  height: 30px;
  background-color: var(--filter-button-background-color);
  border-radius: 10px;
  border: 1px solid var(--filter-button-border-color);
}

.reviews-acceptance-search-bar:hover {
  border-color: var(--filter-button-background-hover-color);
}

.reviews-acceptance-search-bar:focus {
  border-color: var(--filter-button-background-hover-color);
  outline: none;
}

.rating-options-button {
  display: flex;
  width: 50px;
  height: 25px;
  padding: 10px;
  border-radius: 10px;
  font-family: inherit;
  align-items: center;
  text-align: center;
  background-color: var(--filter-button-background-color);
  color: var(--filter-button-letter-color);
  border: 1px solid var(--filter-button-border-color);
  transition: 0.2s ease-out;
}

.rating-options-container {
  position: absolute;
  z-index: 5;
}

.right {
  right: 0;
}

.rating-options-button-container {
  display: flex;
  width: 50px;
  height: 25px;
  border-radius: 10px 10px 0 0;
}

.rating-option-button {
  display: flex;
  width: 100%;
  height: 25px;
  padding: 10px;
  font-family: inherit;
  align-items: center;
  text-align: center;
  background-color: var(--filter-button-background-color);
  color: var(--filter-button-letter-color);
  border: 1px solid var(--filter-button-border-color);
  transition: 0.2s ease-out;
}

.selected-rating {
  background-color: var(--filter-selected-background-color);
  color: var(--filter-selected-letter-color);
}

.reviews-acceptance-button:hover,
.rating-option-button:hover {
  background-color: var(--filter-button-background-hover-color);
  color: var(--filter-button-letter-hover-color);
}

.rating-option-container {
  width: 10%;
  margin-bottom: 5px;
  overflow: hidden;
  border-radius: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--filter-border-color);
}

.rating-options-button:hover {
  transform: translateY(-4px);
  position: relative;
  background-color: var(--filter-list-button-default-hover-background-color);
  color: var(--filter-list-button-defaut-letter-hover-color);
} 

.reviews-acceptance-select-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 68%;
  margin-left: 32%;
  margin-top: -10vh;
  z-index: 5;
  background-color: var(--nav-color);
	backdrop-filter: blur(5px);
  overflow: hidden;
}

.reviews-acceptance-label-button-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.reviews-acceptance-label-button-container button {
  margin-right: 30px;
  text-align: left;
  padding-left: 0;
  transition: 0;
}

.reviews-acceptance-label-button-container button:hover {
  color: var(--better-view-letter-color);
}

.reviews-acceptance-select-button {
  background: transparent;
  height: 8vh;
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  font-family: inherit;
  color: var(--letters-color);
  transition: 0.2s ease-out;
}

.reviews-list {
  width: 67.5%;
  margin-left: 32%;
  margin-top: 20vh;
  min-height: 70vh;
  padding-top: 15px;
}

.reviews-acceptance-pages-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-left: 40%;
}

.reviews-acceptance-pages-container div {
  display: flex;
  flex-wrap: wrap;
}

.activeSelection {
  transform: scale(1.2) translateX(8%);
  font-family: MornBold;
}

.not-visible {
  visibility: hidden;
}