.filters-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 90vh;
  padding: 0 10px;
  margin-top: 10vh;
  overflow-y: scroll;
  scrollbar-color: white;
  z-index: 0;
}

.filters-container::-webkit-scrollbar {
  background-color: rgb(255, 255, 255);
  width: 6px;
}

.filters-container::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
}

.filter-titles {
  text-transform: capitalize;
}

.filter-row {
  display: flex;
  justify-content: space-between;
}

.filter-row input {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0;
  width: 45%;
  height: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid white;
}

.filter-row input:hover {
  border-color: rgba(0, 0, 0, 0.3);
}

.filter-row input:focus {
  border-color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.filter-row label {
  margin-right: 5px;
  margin-top: 1px;
}

.order-by-options-container,
.filter-list-container {
  margin-bottom: 5px;
  overflow: hidden;
  border-radius: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.order-by-options-container {
  position: absolute;
  width: 79.5%;
  z-index: 5;
}

.order-by-button-container,
.order-by-options-button-div,
.filter-list-button-container {
  display: flex;
  height: 25px;
}

.order-by-button-container{
  overflow: hidden;
}

.order-by-button,
.order-by-options-button,
.filter-list-button {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 50px;
  border-radius: 10px 10px 0 0;
  border: none;
  padding: 10px;
  background-color: rgb(218, 218, 218);
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  font-family: Morn, Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.order-by-button {
  border-radius: 10px;
  height: 25px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.order-by-button:hover {
  color: white;
  background-color: black;
}

.order-by-options-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.filter-list-button:hover,
.order-by-options-button:hover {
  transform: translateY(-4px);
  position: relative;
  background-color: rgb(0, 0, 0);
  color: white;
}

.order-direction-button,
.submit-prices-button {
  margin-left: 5px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding-bottom: 2px;
  cursor: pointer;
}

.order-direction-button:hover,
.submit-prices-button:hover {
  background-color: rgb(0, 0, 0);
}

.number-filters-container {
  margin-top: 5px;
  margin-bottom: 10px;
}

.available {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid rgba(130, 130, 130, 0.1);
}

.available:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.selected,
.selected-order {
  background-color: rgb(0, 0, 0);
  color: white;
  transform: translateY(-4px);
}

.selected:hover {
  color: rgb(255, 0, 0);
} 