.review-acceptance-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 96%;
  margin-bottom: 20px;
  margin-left: 0.5%;
  border-radius: 10px;
  height: fit-content;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid var(--filter-border-color);
  background-color: var(--review-acceptance-card-background-color);
  text-transform: capitalize;
  padding: 10px;
}

.review-acceptance-card-image-description-container {
  display: flex;
  flex-direction: row;
}

.review-acceptance-card-image-container {
  width: 20%;
}

.review-acceptance-card-image-container img {
  width: 100%;
  object-fit: cover;
}

.acceptance-rating-container {
  width: 100%;
  align-items: center;
  align-content: center;
}

.acceptance-rating-container h4 {
  margin-right: 10px;
}

.acceptance-rating-container h3 {
  justify-self: flex-end;
  margin-left: auto;
}

.acceptance-rating-container div {
  width: 110px;
  justify-self: flex-end;
}

.review-acceptance-card-container p {
  width: 150%;
  font-size: 15px;
  padding: 5px;
}

.review-acceptance-button-container {
  display: flex;
  justify-content: flex-end;
}

.review-acceptance-button {
  background: transparent;
  width: 100px;
  height: 8vh;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  font-family: inherit;
  color: var(--letters-color);
  transition: 0.2s ease-out;
}

.review-acceptance-button:hover {
  transform: scale(1.2);
}

.review-acceptance-accept-button:hover {
  color: green;
}

.review-acceptance-cancel-button:hover {
  color: orange;
}

.review-acceptance-delete-button:hover {
  color: red;
}